$primary-color: #00ccdb;

.fancybox-close:hover {
    opacity: 1;
    background-color: #00ccdb;

}

a{
    color:#00ccdb;
}

.color-text {
    color: #00ccdb;
}

.fancybox-nav:hover span {
    background-color:#00ccdb;
}

#home-slider #nextslide:hover,
#home-slider #prevslide:hover {
    background-color:#00ccdb;
}

#home-slider ul#slide-list li a:hover {
    background-color: #00ccdb;
}

#home-slider ul#slide-list li.current-slide a,
#home-slider ul#slide-list li.current-slide a:hover {
    background-color:#00ccdb;
}

#home-slider #nextsection:hover {
    background-color:#00ccdb;
}

.work-nav #filters li a:hover {
    color: #00ccdb;
}

.work-nav #filters li a.selected {
    color: #00ccdb;
}

.item-thumbs .hover-wrap .overlay-img {

    background: #00ccdb;

}

.image-wrap .hover-wrap .overlay-img {

    background: #00ccdb !important;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.45;
    filter: alpha(opacity=45);

}


.big-quote span {
    color: #00ccdb;
}

.services-box .icon {
    background: #00ccdb;
}

.entry-title a:hover {
    color: #00ccdb;
}

.entry-meta a:hover {
    color: #00ccdb;
}

.comment-author cite a:hover {
    color: #00ccdb;
}

.comment-meta a:hover {
    color: #00ccdb;
}

#comment-form .submit:hover {
    background: #00ccdb;
    color: #FFFFFF;
}

.navigation .prev:hover,
.navigation .next:hover,
.navigation .number:hover,
.navigation .current {
    background-color:#00ccdb;
}

#contact-form .submit:hover {
    background: #00ccdb;

}

#ticker .tweet_list .tweet_time a:hover {
    color: #00ccdb;
}

#social ul li:hover a,
#social ul li.active a {
    background-color: #00ccdb;

}

#back-to-top:hover {
    background-color:#00ccdb;
}

#circle {

    background: #00ccdb;

    -webkit-animation: circle 1s infinite forwards;
    -moz-animation: circle 1s infinite forwards;
    -ms-animation: circle 1s infinite forwards;
    animation: circle 1s infinite forwards;
}

.button:hover,
.button:active,
.button:focus {
    background-color: #00ccdb;

}

.button:hover,
.button:active,
.button:focus {
    background-color: #00ccdb;

}
.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
    background:#00ccdb;

}

.accordion-heading .accordion-toggle.active {
    background:#00ccdb;

}


.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #00ccdb;

}

