.logo_techbrands{
    background: url("static/logo_techbrands.png");// top left no-repeat;

}
.rails{ width:65px; height:90px; background-position:-10px -10px; margin-right: 15px;

}
.rails:hover{ width:65px; height:90px; background-position:-85px -10px; margin-right: 15px;

}

.html{ width:65px; height:90px; background-position:-10px -110px; margin-right: 15px; }
.html:hover{ width:65px; height:90px; background-position:-85px -110px; margin-right: 15px; }
.css3{ width:70px; height:90px; background-position:-10px -210px; margin-right: 15px; }
.css3:hover{ width:70px; height:90px; background-position:-90px -210px; margin-right: 15px; }
.git{ width:115px; height:74px; background-position:-10px -310px; margin-right: 15px; }
.git:hover{ width:115px; height:74px; background-position:-10px -394px; margin-right: 15px; }
.mysql{ width:155px; height:72px; background-position:-10px -478px; margin-right: 15px; }
.mysql:hover{ width:155px; height:72px; background-position:-10px -560px; margin-right: 15px; }
.mongo{ width:209px; height:56px; background-position:-10px -642px; margin-right: 15px; }
.mongo:hover{ width:209px; height:56px; background-position:-10px -708px; margin-right: 15px; }
.nodejs{ width:158px; height:56px; background-position:-10px -774px; margin-right: 15px; }
.nodejs:hover{ width:158px; height:56px; background-position:-10px -840px; margin-right: 15px; }
.jquery{ width:164px; height:56px; background-position:-10px -906px; margin-right: 15px; }
.jquery:hover{ width:164px; height:56px; background-position:-10px -972px; margin-right: 15px; }

