<header>
    <div class="sticky-wrapper">
        <div class="navbar navbar-expand-lg navbar-light fixed-top bg-light navbar-digital px-4">
            <div class="container">
                <a class="menu-nav" href="#menu-nav" id="mobile-nav"></a>
                <div id="logo">
                    <a href="#home-slider" id="goUp" title="DigitalMade | Web  Design">
                        <img src="static/logo-2017.png">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <nav class="collapse navbar-collapse" id="menu">
                    <ul id="menu-nav" class="nav ml-auto">

                        <li class="nav-item current d-none d-xl-inline-block">
                            <a class="nav-link" href="#home-slider" data-turbolinks="false">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services" data-turbolinks="false">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#work" data-turbolinks="false">Nosso Trabalho</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about" data-turbolinks="false">Quem Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#contact" data-turbolinks="false">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/en">EN</a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link" href="/">PT</a>
                        </li>
                        <!-- <li class="nav-item">
                             <a class="nav-link" href="/blogs/principal">Blog</a>
                         </li> -->
                        <li>

                        </li>
                        <li>
                        </li></ul>
                </nav>
            </div>
        </div></div>
</header>