<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>


<body class="home-index">
<!-- BEGIN core - home-index - ID 11--><!-- BEGIN layout - home - ID 16-->
<div class="body" data-spy="scroll" data-target="#menu">


    <!-- BEGIN partial - header - ID 12--><div class="top-header d-none d-sm-block">
    <div class="container">
        <div class="pull-left">
            <div class="header-item">
                <i class="fa fa-envelope"></i>contato@digitalmade.com.br</div>
            <div class="header-item">
                <i class="fa fa-phone"></i>+55 11 3230-9290</div>
        </div>
        <div class="pull-right">
            <ul class="brands brands-inline brands-tn brands-circle main">
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
            <div class="header-item">

            </div>
        </div>
    </div>
</div>

    {{> partials/header title=htmlWebpackPlugin.options.title}}

    <div class="main-cover">
        <div class="overlay">

            <div class="container">
                <div class="row">
                    <div class="col-3 m-auto py-md-4">
                        <img src="static/logo-vertical-white_3x.png" alt="Logo home" class="img-fluid">
                    </div>
                    <div class="col-9 m-auto text-right py-4">

                        <h1 class="display-2 title2"><strong>Software</strong> Development &amp; Consulting</h1>
                    </div>
                </div>


            </div>
        </div>

        <img src="static/welding.jpg" style="width:100%;"><!-- END Banner - ID 15-->
    </div>

    <div class="page" id="services">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-page">
                        <h2 class="title">Serviços</h2>
                        <h3 class="title-description">We are specialized in consulting and software solutions focused in web.</h3>
                        <div class="page-description">
                            <p>DigitalMade desenvolve soluções web, plataformas web, aplicativos para smartphones/tablets, desenvolvimento e design de frontend UI-UX/backend. Utilizamos tecnologias de vanguarda em infraestrutura e desenvolvimento para um serviço ininterrupto de sua aplicação.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <div class="row">
                <h3 class="pl-3">Algumas tecnologias que utilizamos</h3>
                <div class="col-lg-12 d-flex text-center">
                    <div class="title-page">


                        <div class="item d-inline-flex p-3">
                            <img class="logo_techbrands html" src="static/blank.gif" alt="Blank">
                        </div>
                        <div class="item d-inline-flex p-3">
                            <img class="logo_techbrands css3" src="static/blank.gif" alt="Blank">
                        </div>
                        <div class="item d-inline-flex p-3">
                            <img class="logo_techbrands rails" src="static/blank.gif" alt="Blank">
                        </div>
                        <div class="item d-inline-flex p-3">
                            <img class="logo_techbrands jquery" src="static/blank.gif" alt="Blank">
                        </div>
                        <div class="item d-inline-flex p-3">
                            <img class="logo_techbrands nodejs" src="static/blank.gif" alt="Blank">
                        </div>
                        <div class="item d-inline-flex  p-3">
                            <img class="logo_techbrands mongo" src="static/blank.gif" alt="Blank">
                        </div>
                        <div class="item d-inline-flex p-3">
                            <img class="logo_techbrands mysql" src="static/blank.gif" alt="Blank">
                        </div>
                        <div class="item d-inline-flex p-3">
                            <img class="logo_techbrands git" src="static/blank.gif" alt="Blank">
                        </div>

                    </div>
                </div>
            </div>


            <div class="row margin-40">
                <div class="col-lg-4">
                    <h3>Características</h3>
                </div>
            </div>
            <div id="spec-area">
                <div class="row m-2">
                    <div class="col-lg-1" id="product_specs">
                        <ul>
                            <li>
                                <a href="">
                                    <span class="font-icon-ok-circle"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>Qualidade</h3>
                    </div>
                    <div class="col-lg-8">
                        <p>Utilizamos sempre as melhores práticas em engenharia de software oferecendo um produto de alta qualidade. Através de varias técnicas de teste continuo garantimos a qualidade do software mesmo após atualizações e modificações.</p>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-lg-1" id="product_specs">
                        <ul>
                            <li>
                                <a href="">
                                    <span class="font-icon-viewport"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>Responsividade</h3>
                    </div>
                    <div class="col-lg-8">
                        <p>Um website responsivo adapta sua exibição para o ambiente de visualização, proporcionando excelente experiência em vários tipos de dispositivos.</p>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-lg-1" id="product_specs">
                        <ul>
                            <li>
                                <a href="">
                                    <span class="font-icon-dashboard"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>Performance</h3>
                    </div>
                    <div class="col-lg-8">
                        <p>Servidores de alta performance espelhados em mais de uma localidade proporcionando velocidade no acesso.</p>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-lg-1" id="product_specs">
                        <ul>
                            <li>
                                <a href="">
                                    <span class="font-icon-ban-chart"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>Escalabilidade</h3>
                    </div>
                    <div class="col-lg-8">
                        <p>Conforme sua necessidade nossos produtos são fácilmente escaláveis (infraestrutura e software), crescendo conforme você também cresce.</p>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-lg-1" id="product_specs">
                        <ul>
                            <li>
                                <a href="">
                                    <span class="font-icon-time"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>Disponibilidade</h3>
                    </div>
                    <div class="col-lg-8">
                        <p>Disponibilidade do sistema/website 24 horas por dia, 7 dias por semana, sem interrupção em qualquer lugar que você esteja.</p>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-lg-1" id="product_specs">
                        <ul>
                            <li>
                                <a href="">
                                    <span class="font-icon-cogs"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 style="line-height: 70px; margin-left: 15px;">Gerenciamento</h3>
                    </div>
                    <div class="col-lg-8">
                        <p>Através de sistemas de monitoramento nós cuidamos do seu aplicativo todo o tempo.</p>
                    </div>
                </div>
            </div>
            <div class="sep">
                <span class="separator"></span>
            </div>
            <!-- Services Boxes -->
            <div class="row" id="process">
                <div class="col-lg-12">
                    <h3>O Processo</h3>
                    <p>Todos os projetos de desenvolvimento de software seguem o princípio de prototipação e produto mínimo viável, que é, através de uma análise preliminar a construção de um protótipo inicial com o escopo de funcionalidades reduzido, e a partir desse produto inicial chegar ao produto final.</p>
                </div>
                <div class="col">
                    <div class="services-box">
                        <div class="icon">
                            <span class="font-icon-map"></span>
                        </div>
                        <h3>Planejamento</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="services-box">
                        <div class="icon">
                            <span class="font-icon-beaker"></span>
                        </div>
                        <h3>Desenvolvimento</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="services-box">
                        <div class="icon">
                            <span class="font-icon-play"></span>
                        </div>
                        <h3>Implementação Entrega</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="services-box">
                        <div class="icon">
                            <span class="font-icon-cogs"></span>
                        </div>
                        <h3>Gerenciamento Suporte</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="services-box">
                        <div class="icon">
                            <span class="fa fa-line-chart"></span>
                        </div>
                        <h3>Resultados</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Services Boxes -->
        <!-- End Services Section -->
        <div class="big-quote page-alternate">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>When you're a carpenter making a beautiful chest of drawers, you're not going to use a piece of plywood on the back, even though it faces the wall and nobody will ever see it. You'll know it's there, so you're going to use a beautiful piece of wood on the back. For you to sleep well at night, the aesthetic, the quality, has to be carried all the way through.<span>Steve Jobs</span>
                        </p>
                        <span class="font-icon-blockquote"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Work Section -->
    <div class="page" id="work">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-page">
                        <h2 class="title">Nosso Trabalho</h2>

                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <!-- Portfolio Projects -->
            <section id="projects">

                <div class="row">
                    <div class="col-lg-3 mb-3 text-center mx-auto">


                        <a href="#" data-toggle="modal" data-target="#sellu">
                            <img class="thumbs" alt="" src="static/sellu_thumb.png">
                        </a>
                    </div>
                    <div class="col-lg-3 mb-3 text-center mx-auto">


                        <a href="#" data-toggle="modal" data-target="#vinhos-de-bicicleta">
                            <img class="thumbs" alt="Desenvolvimento de Sistema E-Commerce especifico para o segmento de bebidas. Criação da Identidade visual do website." src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/105/original/vinhos_thumb.jpg?1457727887">
                        </a>
                    </div>


                    <div class="col-lg-3 mb-3 text-center mx-auto">
                        <a href="#" data-toggle="modal" data-target="#espaco-da-anita">
                            <img class="thumbs keeplay_thumb" alt="Reformulação Logotipo, Identidade visual, Branding, Sistema Web de gestão de agenda, eventos e conteúdo." src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/088/original/espaco_thumb.png?1457727872">
                        </a>
                    </div>
                    <div class="col-lg-3 mb-3 text-center mx-auto">
                        <a href="#" data-toggle="modal" data-target="#bfbank">
                            <img class="thumbs" alt="Desenvolvimento de sistema de um Banco virtual para realizar transações entre correntistas, além da Identidade visual web." src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/087/original/bfbank_thumb.jpg?1457727859">
                        </a>
                    </div>
                    <div class="col-lg-3 mb-3 text-center mx-auto">
                        <a href="#" data-toggle="modal" data-target="#iteleport">
                            <img class="thumbs" alt="Desenvolvimento de API Rest e plataforma com infraestrutura de gestão de usuários, vendas." src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/286/original/thumb-site-iteleport.png?1529605181">
                        </a>
                    </div>



                    <div class="col-lg-3 mb-3 text-center mx-auto">
                        <a href="#" data-toggle="modal" data-target="#temperminas">
                            <img class="thumbs" alt="Desenvolvimento de sistema de cotação de preços e identidade visual do website." src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/102/original/temperminas_thumb.png?1457727886">
                        </a>
                    </div>
                </div>


            </section>

        </div>
    </div>
    <!-- End Portfolio Projects -->
    <!-- End Our Work Section -->
    <!-- Big Blockquote -->
    <div class="big-quote page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Proporcionamos uma abordagem pessoal e eficiente em cada projeto que trabalhamos, entregando soluções que gerem valor aos nossos clientes.</p>
                    <span class="font-icon-blockquote"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- End Big Blockquote -->
    <!-- About Section -->
    <div class="page-alternate" id="about">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-page">
                        <h2 class="title">Quem Somos</h2>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <div class="row margin-40">
                <div class="col-lg-8">
                    <h3>Digital Hand Made e nossa cultura</h3>
                    <h5>Porque digital hand made?</h5>
                    <p>Hand made (feito a mão) significa o cuidado com os detalhes, cada peça feita de maneira exclusiva, e é dessa maneira que trabalhamos, tratando cada projeto como uma peça exclusiva para que sua ideia possa se materializar.</p>
                </div>
                <div class="col-lg-4">
                    <img src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/285/original/logo-with-lines_3x.png?1509390541" alt="Dmade bg bw370 270">
                </div>
            </div>
            <div class="sep">
                <span class="separator"></span>
            </div>
            <!-- People -->
        </div>
    </div>
    <!-- Contact Section -->
    <div class="page" id="contact">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-page">
                        <h2 class="title">Contato</h2>
                        <h3 class="title-description">Aguardamos seu contato!</h3>
                        <div class="page-description">
                            <p>Envie-nos um e-mail ou contate-nos pelo telefone para uma conversa sem compromisso a respeito de nossos serviços e preços. Ficaremos felizes em atendê-lo</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <!-- Contact Form -->
            <div class="row">
                <div class="col-lg-8">
                    <div id="message_field"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <form action="/messages" accept-charset="UTF-8" method="post" data-remote="true"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="BCeBLZEIzj/XK/22IDyArifgAlDIeiZtUpfAT4AfoyUSXPLqZ4HVYWtpK+ZzU2pw2LSpZs8BOf2O4cPPizz6qA==">
                        <div class="form-group">
                            <input id="contact_name" class="form-control" placeholder="Nome" type="text" name="message[name]">
                        </div>
                        <div class="form-group">
                            <input id="contact_email" class="form-control" placeholder="Email" type="text" name="message[email]">
                        </div>
                        <div class="form-group">
                            <textarea rows="8" id="contact_message" class="form-control" placeholder="Mensagem" name="message[content]"></textarea>
                        </div>
                        <input type="submit" name="commit" value="Enviar" id="contact-submit" class="btn btn-primary btn-lg submit">

                    </form>

                </div>
                <div class="col-lg-4">
                    <div class="contact-details">
                        <h3>informações de contato</h3>
                        <ul>
                            <li>
                                <a href="#">contato@digitalmade.com.br</a>
                            </li>
                            <li>+55 (12) 99601-4111</li>
                            <li>+55 11 3230-9290</li>
                            <li>DigitalMade Tecnologia e Serviços Online<br>São José dos campos<br>
                                <br>SP - Brasil<br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Services Form -->
            <!-- End Contact Section -->
            <!-- Socialize -->
            <div class="page" id="social-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <nav id="social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/dmadesolutions" target="_blank" title="Follow Me on Facebook">
                                            <span class="font-icon-social-facebook"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Socialize -->
            <!-- Footer -->
        </div>
        <footer>
            <p class="credits">2012-2019 DigitalMade Tecnologia e Serviços Online LTDA - Todos os direitos reservados - CNPJ - 027.369.747/0001-78</p>
            <!-- <p class="credits" style="font-size: 10px;padding: 0;">Template based on <a href="http://www.alessioatzeni.com/"> Alessio Atzeni </a>template</p> -->
            <!-- End Footer -->
            <!-- Back To Top -->
            <a href="#" id="back-to-top" style="display: block;">
                <i class="fa fa-chevron-up">
                    <!-- End Back to Top -->
                </i>
            </a>
        </footer>
    </div>



    <!-- BEGIN partial - footer - ID 13--><!-- END partial - footer - ID 13-->
</div>

<!-- END layout - home - ID 16-->


<!-- Modal -->
<div class="modal" id="vinhos-de-bicicleta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Vinhos de Bicicleta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/103/original/vinhos_full_1.jpg?1457727887" class="img-fluid">
            </div>
            <div class="modal-footer">
                Sistema ecommerce com pagamentos recorrentes, design página.
                <br>
                <a href="https://www.vinhosdebicicleta.com.br" target="_blank">
                    www.vinhosdebicicleta.com.br
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="espaco-da-anita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Espaço da Anita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/110/original/espaco_full_1.jpg?1457728689" class="img-fluid">
            </div>
            <div class="modal-footer">
                Design logotipo, identidade visual, website e sistema de gerenciamento de agenda.

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="temperminas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Temperminas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/099/original/temperminas_full.jpg?1457727875" class="img-fluid">
            </div>
            <div class="modal-footer">
                Website e sistema de cálculo de projetos de vidros temperados.
                <a href="http://www.temperminas.com" target="_blank">
                    www.temperminas.com
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="bfbank" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">BFBank</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">

            </div>
            <div class="modal-footer">
                Sistema de banco virtual, identidade visual, conceito de negócio.

            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal" id="sellu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sellu ECommerce Platform</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/274/original/sellu_full.png?1504378628" class="img-fluid">
            </div>
            <div class="modal-footer">
                Identidade visual, sistema, modelo de negócio
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="iteleport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">iTeleport</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img src="https://dmecomproduction.s3.amazonaws.com/437982/dm_front/images/images/000/000/287/original/iteleport-preview.jpg?1529605440" class="img-fluid">
            </div>
            <div class="modal-footer">
                Sistema web da plataforma iTeleport, com API Rest e integração com o ecosistema de geração de tours virtuais.
                <a href="http://www.iteleport.com.br" target="_blank">
                    www.iteleport.com.br
                </a>
            </div>
        </div>
    </div>
</div>


<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:600|IBM+Plex+Sans:400,500|IBM+Plex+Serif" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/brands.css" integrity="sha384-IiIL1/ODJBRTrDTFk/pW8j0DUI5/z9m1KYsTm/RjZTNV8RHLGZXkUDwgRRbbQ+Jh"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
      crossorigin="anonymous">

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44193999-1', 'auto');

    document.addEventListener('turbolinks:load', function(event) {
        if (typeof ga === 'function') {
            ga('set', 'location', event.data.url);
            ga('send', 'pageview');
        }
    });
</script>




</body>


</html>